@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.container {
  display: flex;
};

/* 빌드 후 최종 css */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
};