@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hover_effect a {
    transition: 0.35s;
}

.hover_effect a:hover {
    text-shadow: 0 0 20px #000000;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

@media (prefers-color-scheme: dark) {
    .hover_effect a:hover {
        text-shadow: 0 0 15px #FFFFFF;
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
    }
}

.on-image {
    background-image: url('./assets/images/twc_front_door.jpeg');
}

@media (min-width: 950px) {
    .off-image {
        background-image: none;
    }
}

.pastor_profile img {
    transform: scale(1.5) translateX(30px) translateY(20px);   /* 이미지 확대 */
} 

@layer utilities {
    .text-responsive {
      font-size: clamp(1rem, 2.5vw, 2rem); /* 최소 1rem, 최대 2rem */
    }
}
  
/* 심플한 네모 박스 스타일 */
.info-window-simple {
  padding: 8px 12px; /* 텍스트와 테두리 사이의 최소한의 여백 */
  background-color: #ffffff; /* 아래 지도가 비치지 않도록 배경색 지정 */
  border: 1px solid #666; /* 네모 박스 테두리 */
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: -15px;
}

/* 교회 이름 스타일 */
.info-window-simple .title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 0;
}

/* 주소 스타일 */
.info-window-simple .address {
  font-size: 12px;
  color: #555;
  margin: 4px 0 0 0; /* 위쪽 텍스트와의 간격 */
  padding: 0;
}